body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #363636;
}

.heart{
    width: 100px;
    height: 100px;
    background-color: #f44336;
    position: relative;
    transform: rotate(45deg);
    animation: heartbeat 2s linear infinite;
}

.heart::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;;
    width: 100%;
    height: 100%;
    background-color: #f44336;
    border-radius: 50%;
}

.heart::after{
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f44336;
    border-radius: 50%;
}

@keyframes heartbeat{
    
    0% {transform: scale(1) rotate(45deg);}
    
    25% {transform: scale(1.4) rotate(45deg);}
    
    50% {transform: scale(1.2) rotate(45deg);}
    
    75% {transform: scale(1.4) rotate(45deg);}
    
    100% {transform: scale(1) rotate(45deg);}
    
}