body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

a{
    text-decoration: none;
    color: #272727;
    font-family: sans-serif;
}

.button{
    border: 5px solid #272727;
    padding: 40px 80px;
    font-size: 45px;
    position: relative;
    overflow: hidden;
}

.button:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    transition: transform 1s;
}

.button:hover::before{
   transform: rotate(0deg);
}
